PROJECT="ceph"
SUMMARY="a scalable distributed storage system"
BRANCH="mimic"
REPO="https://github.com/ceph/ceph.git"
OPTION=""

# array including all local patches, e.g.
#
# SOURCES=(
#          "0001-crypto-add-openssl-support-for-RGW-encryption.patch" \
#          "0001-add-QAT-support.patch" \
#         )
SOURCES=(
         "0001-librbd-shared-persistent-read-only-rbd-cache.patch" \
         "0002-librbd-cleanup-rbd-shared-RO-cache.patch" \
         "0003-librbd-fix-bufferlist-point.patch" \
         "0004-librbd-fix-lookup-object-return.patch" \
         "0005-librbd-fix-conf-get_val.patch" \
         "0006-librbd-LRU-policy-based-eviction.patch" \
         "0007-librbd-cleanup-policy-based-promotion-eviction.patch" \
         "0008-librbd-implement-async-cache-lookup-and-read.patch" \
         "0009-librbd-clean-up-on-rbd-shared-cache.patch" \
         "0010-librbd-new-namespace-ceph-immutable-obj-cache.patch" \
)
